

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}  
html { 
  scroll-behavior: smooth; 
}
.overlay{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
}

.bar{
  width: 10vw;
  height: 105vh;
  background: red;
  z-index: 1;
  pointer-events: none;
}

.counter{
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: black;
  padding: 0.2em 0.4em;
  font-size: 20vw;
  font-family: "roc-grotesk-extrawide", sans-serif;
  z-index: 1000;
  pointer-events: none;
}






/* MOBILE---------------------------------------------------------------------------------------------------------------------------------------- */
@media (any-pointer: coarse) {
  .DESKTOP{
    display: none;
  }
  body {
    margin: 0;
  position: relative;
    font-family: "roc-grotesk-extrawide", sans-serif;
    font-weight: 700;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    
    overflow: hidden;
    text-decoration: none !important; 

  }
  
ul{
  text-decoration: none;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-family: "roc-grotesk-extrawide", sans-serif;
  font-size: 30wpx;
  line-height: 30px;
  -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}



.logo a {
  color: red;
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  @supports ((-webkit-text-stroke: 3px #ff0000) or (text-stroke: 3px #ff0000)) {
    -webkit-text-stroke: 2px #ff0000;
    text-stroke: 2px #ff0000;
  }
}

.logo a:not(:hover) {
  color: red;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}


  
#container3D canvas {
  width: 100vw !important;
  min-height: 10vw;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 100px;
}
.projects {
  width: 100%;
  
}

.projects a {
  font-size: 10vw;
  letter-spacing: normal;
  color: #ff0000;
  text-decoration: none;
}



.projects a {
  scale: 1;
  position: relative;
  color: #ff0000;
  text-transform: uppercase;
  font-size: 10vw;
  font-weight: 900;
  letter-spacing: 0.02em;
  line-height: 0.9em;
  font-family: "roc-grotesk-extrawide", sans-serif;
 
  -webkit-transition:
    color 0.5s,
    opacity 0.5s;
 
  -o-transition:
    color 0.5s,
    opacity 0.5s;
 
  transition:
    color 0.5s,
    opacity 0.5s;

  @supports ((-webkit-text-stroke: 2px #ff0000) or (text-stroke: 2px #ff0000)) {
    -webkit-text-stroke: 1px #ff0000;
    text-stroke: 2px #ff0000;
  }
}
.stagePerspective {
  position: absolute;
  width: 100%;
 
  margin-top: 107vw;
}
}
/*END OF  MOBILE */
/*END OF  MOBILE */
/*END OF  MOBILE */
/*END OF  MOBILE------------------------------------------------------------------------------------------------------------------------------ */


/*DESKTOP---------------------------------------------------------------------------------------------------------------------------------------*/
@media (any-pointer: fine) {
  .MOBILE{
    display: none;
  }
  body {
    margin: 0;
  position: relative;
    font-family: "roc-grotesk-extrawide", sans-serif;
    font-weight: 700;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    
    overflow-X: hidden;
    text-decoration: none;
  }
  
ul{
  text-decoration: none;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-family: "roc-grotesk-extrawide", sans-serif;
  font-size: 40wpx;
  line-height: 30px;
  -webkit-text-stroke: 2px #ffffff;
  color: rgb(0, 0, 0);
  -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2vw;
  margin-bottom: 5px;
}

.logo a {
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: red; /* Start with red text color */
}

/* Disable transition for Safari */
@media not all and (hover: none) and (pointer: coarse) {
  .logo a {
    -webkit-transition-duration: 0s; /* Disable transition for Safari */
       -o-transition-duration: 0s;
          transition-duration: 0s;
  }
}

.logo a:not(:hover) {
  color: red;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}


  
#container3D canvas {
  width: 100vw !important;
  min-height: 10vw;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 100px;
}
.circle {
  --circle-size: 30px;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  border: 1px solid red;
  border-radius: 100%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  z-index: 1;
}
.projects {
  width: 100%;
}

.projects a {
  font-size: 8vw;
  letter-spacing: normal;
}

.projects a {
  font-size: 8vw;
  letter-spacing: normal;
  scale: 1;
  position: relative;
  color: transparent; /* Start with transparent text */
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.02em;
  line-height: 0.9em;
  font-family: "roc-grotesk-extrawide", sans-serif;

  /* Apply text-stroke only if supported */
  @supports ((-webkit-text-stroke: 3px #ff0000) or (text-stroke: 3px #ff0000)) {
    -webkit-text-stroke: 3px #ff0000;
    text-stroke: 3px #ff0000;
  }

  /* Additional declaration for all browsers */
  -webkit-text-fill-color: #ff0000; /* Set initial text color to red */
  -webkit-transition: -webkit-text-fill-color 0.5s; /* Transition for text color */
  transition: -webkit-text-fill-color 0.5s; /* Transition for text color */
  transition: color 0.5s; /* Transition for text color for non-Safari browsers */
}

.projects a:hover {
  color: #ff0000; /* Set text color to red on hover */
  -webkit-text-fill-color: transparent; /* Set text color to transparent on hover */
}

.projects a:before {
  content: attr(data-info);
  white-space: pre;
  position: absolute;
  top: 1em;
  left: -250px;
  width: 200px;
  text-align: center;
  font-size: 0.7vw;
  font-weight: 500;
  letter-spacing: 0;
  line-height: .2em;
  pointer-events: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;

  /* Remove text-stroke if supported */
  @supports ((-webkit-text-stroke: 3px #ff0000) or (text-stroke: 3px #ff0000)) {
    -webkit-text-stroke: transparent;
    text-stroke: transparent;
  }
}
.projects a:after {
  content: "";
  position: relative;
  top: 0.23em;
  left: -0.3em;
  width: 2px;
  height: 0.85em;
  background: transparent;
  -webkit-transform: rotateZ(25deg);
      -ms-transform: rotate(25deg);
          transform: rotateZ(25deg);
  pointer-events: none;
}
.stage {
  margin-top: 29vw;
}
.stagePerspective {
  position: absolute;
  width: 100%;
  
  margin-top: 10vw;
   
}
}

/*END OF DESKTOP*/
/*END OF DESKTOP*/
/*END OF DESKTOP*/
/*END OF DESKTOP---------------------------------------------------------------------------------------------------------------------------------*/



/* i think none of this stuff should be different for mobile or desktop?*/

.header {
  position: -webkit-sticky;
  position: relative;
  background-color: transparent;
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  width: 100%;
  top: 2px;
}

.link-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 100px;
}

.link-left ul {
  margin-bottom: 22px;
}

.header li {
  list-style: none;
}


.logo img{
position: absolute;
margin-left:  320px;
margin-top: 2px;
}


.logo a {
  
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: rgba(255, 0, 0, 0);
  @supports ((-webkit-text-stroke: 3px #ff0000) or (text-stroke: 3px #ff0000)) {
    -webkit-text-stroke: 2px #ff0000;
    text-stroke: 2px #ff0000;
  }
}

.logo a:not(:hover) {
  color: red;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}




.stageContainer {
  position: relative;
  width: 100%;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.stage {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  opacity: 1;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.projects {
  position:absolute;
  text-align: center;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  padding-top:20vh ;
}

.projectsLi {
  cursor: pointer;
  -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(0, 1, 0, var(--rotateY)) translateZ(0);
            transform: rotate3d(0, 1, 0, var(--rotateY)) translateZ(0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.projectContainer {
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform-style:preserve-3d;
          transform-style:preserve-3d;
  will-change: transform;

}

&:not(.intro) .projectsLi:hover .projectContainer,
&:not(.intro) .projectsLi.isHovered .projectContainer {
  -webkit-transform: rotate3d(0, 0, 0, 0deg) translateZ(0) scale(1.1, 1);
          transform: rotate3d(0, 0, 0, 0deg) translateZ(0) scale(1.1, 1);
  -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
}

.projectsLi.isSelected .projectContainer,
.projectsLi.isSelected:hover .projectContainer {
  -webkit-transform: rotate3d(0, 1, 0, 0deg) translateZ(0) scale(1);
          transform: rotate3d(0, 1, 0, 0deg) translateZ(0) scale(1);

  @media screen and (max-width: 767px) {
    -webkit-transition:
      opacity 1.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition:
      opacity 1.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition:
      transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      opacity 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition:
      transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      opacity 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition:
      transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      opacity 1.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  a {
    @supports (
      (-webkit-text-stroke: 3px #ff0000) or (text-stroke: 3px #ff0000)
    ) {
      -webkit-text-stroke: 0px #ff0000;
      text-stroke: 0px #ff0000;
    }
  }
}

&:not(.intro) .projects.isHovering .projectsLi:hover a,
&:not(.intro) .projects.isHovering .projectsLi.isHovered a {
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;

  @supports ((-webkit-text-stroke: 3px #ff0000) or (text-stroke: 3px #ff0000)) {
    color: #ff000000;
  }
}


@font-face {
  font-family: "roc-grotesk-extrawide", sans-serif;
  font-style: normal;
  font-weight: normal;
  src:
    local("Druk Wide Bold Bold"),
    url(http://localhost:3000/static/media/DrukWideBold.9c08859d858bc1190755.woff)
      format("woff");
}



/*this stuff aint not changin*/
Roc Grotesk ExtraWide {
  font-family: "roc-grotesk-extrawide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

Roc Grotesk ExtraWide ExtraBold {
  font-family: "roc-grotesk-extrawide", sans-serif;
  font-weight: 700;
  font-style: normal;
}

code {
  font-family: "roc-grotesk-extrawide", sans-serif;
}

  