



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



  /* if device has a touch screen */
  @media (any-pointer: coarse) {
    /* do your own styles */
    body {
      margin: 0;
    position: relative;
      font-family: "roc-grotesk-extrawide", sans-serif;
      font-weight: 700;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background-color: black;
      
      overflow: hidden;
      text-decoration: none;
    }
    
  }
  
  
  /* if device hasNOT NOT NOT NOTNOTO a touch screen */
  @media (any-pointer: fine) {
    /* do your own styles */
  
    body {
      margin: 0;
    position: relative;
      font-family: "roc-grotesk-extrawide", sans-serif;
      font-weight: 700;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background-color: black;
      
      overflow: hidden;
      text-decoration: none;
    }
    
  }

.overlay{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  pointer-events: none;
}

.bar{
  width: 10vw;
  height: 105vh;
  background: red;
  z-index: 1;
  pointer-events: none;
}

.counter{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: black;
  padding: 0.2em 0.4em;
  font-size: 20vw;
  font-family: "roc-grotesk-extrawide", sans-serif;
  z-index: 1000;
  pointer-events: none;
}



nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav a {
  position: relative;
  display: table-cell;
  color: #949494;
  text-decoration: none;
  font-family: "roc-grotesk-extrawide", sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
  background-color: black;
}

nav a:before,
nav a:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease transform;
}

nav a:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}

nav a:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

nav a:nth-child(1):before {
  background-color: yellow;
}

nav a:nth-child(1):after {
  background-color: red;
}

nav a:nth-child(2):before {
  background-color: #00e2ff;
}

nav a:nth-child(2):after {
  background-color: #89ff00;
}

nav a:nth-child(3):before {
  background-color: purple;
}

nav a:nth-child(3):after {
  background-color: palevioletred;
}


nav a:nth-child(4):before {
  background-color: orange;
}

nav a:nth-child(4):after {
  background-color: rgb(15, 160, 192);
}


nav a:nth-child(5):before {
  background-color: rgb(244, 0, 0);
}

nav a:nth-child(5):after {
  background-color: rgb(149, 0, 255);
}

#indicator {
  position: relative  ;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  transition: 0.2s ease;
}

nav a:hover {
  color: #fff;
}

nav a:hover:before,
nav a:hover:after {
  transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator {
  right: 82vw;
  background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover ~ #indicator {
  right: 70vw;
  background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator {
  right: 49vw;
  background: linear-gradient(130deg, purple, palevioletred);
}
nav a:nth-child(4):hover ~ #indicator {
  right  : 33.5vw;
  background: linear-gradient(130deg, purple, palevioletred);
}
nav a:nth-child(5):hover ~ #indicator {
  background: linear-gradient(130deg, purple, palevioletred);
}

@media (any-pointer: fine) {
main{
  margin-top: 10vw;
}
}

@media (any-pointer: coarse) {
  main{
    margin-top: 20vw;
  }
  }

@media (any-pointer: fine) {
  
.countdown_container{
  font-size: 10vh;
  text-decoration: none;
  color: white;
  color: #fff;
  position: relative;
  display: flex;
  justify-content:center;
  margin: 0vw;
  
}
}



@media (any-pointer: coarse) {
  
  .countdown_container{
    font-size: 10vh;
    text-decoration: none;
    color: white;
    color: #fff;
    position: relative;
    display: flex;
    justify-content:center;
    margin-top: 10vw;
    
  transition-duration: .7s;
  position: absolute;
    
  }
  }

  
  
  .countdown_container a {
    text-decoration: none;
    color: red;
  }
  
  .countdown_container a{a {
    transition-duration: 0.3s;
    color: red;
  }
  }
  
  .countdown_container a:not(:hover) {
    color: white;
    transition-duration: 0.3s;
  }

.circle {
    --circle-size: 30px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 1px solid red;
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
    z-index: 1;
  }
  
  
   
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #ff0000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(192, 0, 0, 0.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  }
  .btn-5:hover {
    color: #ff0048;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #8a072c;
    box-shadow:
     -1px -1px 5px 0px #360000,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  
  
  
  Roc Grotesk ExtraWide {
    font-family: "roc-grotesk-extrawide", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  Roc Grotesk ExtraWide ExtraBold {
    font-family: "roc-grotesk-extrawide", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  code {
    font-family: "roc-grotesk-extrawide", sans-serif;
  }
  
  .footer {
  
    padding-top: 100px;
  }
  .header {
    position: -webkit-sticky;
    position: relative;
    background-color: transparent;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 100%;
  }
  
  

  /* if device has a touch screen */
  @media (any-pointer: coarse) {
  .logo {
    width: 100%;
    font-family: "roc-grotesk-extrawide", sans-serif;
    line-height: 5vw;
    -webkit-text-stroke: 2px #ff000000;
  font-size: 2vw;
    color: red;
    transition-duration: .5s;
    position: relative;
  }}

  @media (any-pointer: fine) {
    .logo {
      width: 100%;
      font-family: "roc-grotesk-extrawide", sans-serif;
      line-height: 5vh;
      -webkit-text-stroke: 2px #ff000000;
    font-size: 2vw;
      color: red;
      transition-duration: .5s;
      position: absolute;
    }}
  
  
  @font-face {
    font-family: "roc-grotesk-extrawide", sans-serif;
    font-style: normal;
    font-weight: normal;
    src:
      local("Druk Wide Bold Bold"),
      url(http://localhost:3000/static/media/DrukWideBold.9c08859d858bc1190755.woff)
        format("woff");
  }
  
  