
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*The CSS for the bars and overlay*/

.overlay{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  pointer-events: none;
}

.bar{
  width: 10vw;
  height: 100%;
  background: red;
  z-index: 1;
  pointer-events: none;
}


/*MOBILE*/
  @media (any-pointer: coarse) {

.DESKTOP{
  display: none;
}

    .header {
      position: -webkit-sticky;
      position: relative;
      background-color: transparent;
      font-size: 35px;
      display: flex;
      flex-direction: column;
      z-index: 1;
      width: 100%;
      top: 2px;
    }
    
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    
  
     body {
      margin: 0;
    position: relative;
      font-family: "roc-grotesk-extrawide", sans-serif;
      font-weight: 700;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background-color: black;
      
      text-decoration: none;
    }


    
    
    
      
      main h1{
      color: #ff0000;
      font-size: 85px;
      }
    
      .logo {
        width: 100%;
        font-family: "roc-grotesk-extrawide", sans-serif;
        line-height: 5vw;
        -webkit-text-stroke: 2px #ff000000;
      font-size: 2vw;
        color: red;
        transition-duration: .5s;
        position: absolute;

  }
  
  
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

 
 #menuToggle
 {
   display: block;
   position: absolute;
   top: 20px;
   left: 20px;
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #000000;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: rgb(0, 0, 0);
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #ff0000;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #000000;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 900px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #ff0000;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

/*god bless Erik Terwan for saving me time*/

  #gallery {
    position: relative;
    
}

  /* image div locations*/


  .image {
    position: relative;
    background-size: cover;
}

/* Random sizes and positions for the images */
.image:nth-child(1) {
    width: 200px;
    height: 150px;
    top: 50px;
    left: 100px;
}

.image:nth-child(2) {
    width: 150px;
    height: 200px;
    top: 100px;
    left: 200px;
}

.image:nth-child(3) {
    width: 250px;
    height: 250px;
    top: 150px;
    left: 300px;
}

.image:nth-child(4) {
    width: 180px;
    height: 220px;
    top: 200px;
    left: 50px;
}

.image:nth-child(5) {
    width: 190px;
    height: 180px;
    top: 300px;
    left: 400px;
}

.image:nth-child(6) {
    width: 220px;
    height: 160px;
    top: 150px;
    left: 500px;
}

.image:nth-child(7) {
    width: 230px;
    height: 190px;
    top: 250px;
    left: 50px;
}

.image:nth-child(8) {
    width: 170px;
    height: 240px;
    top: 350px;
    left: 150px;
}

.image:nth-child(9) {
    width: 260px;
    height: 170px;
    top: 400px;
    left: 200px;
}

.image:nth-child(10) {
    width: 180px;
    height: 200px;
    top: 450px;
    left: 300px;
}

.image:nth-child(11) {
    width: 200px;
    height: 250px;
    top: 500px;
    left: 400px;
}

.image:nth-child(12) {
    width: 150px;
    height: 180px;
    top: 100px;
    left: 600px;
}

.image:nth-child(13) {
    width: 240px;
    height: 210px;
    top: 150px;
    left: 700px;
}

.image:nth-child(14) {
    width: 220px;
    height: 160px;
    top: 200px;
    left: 800px;
}

.image:nth-child(15) {
    width: 200px;
    height: 190px;
    top: 250px;
    left: 900px;
}

.image:nth-child(16) {
    width: 180px;
    height: 240px;
    top: 300px;
    left: 100px;
}

.image:nth-child(17) {
    width: 190px;
    height: 170px;
    top: 350px;
    left: 200px;
}

.image:nth-child(18) {
    width: 210px;
    height: 220px;
    top: 400px;
    left: 300px;
}

.image:nth-child(19) {
    width: 230px;
    height: 200px;
    top: 450px;
    left: 400px;
}

.image:nth-child(20) {
    width: 250px;
    height: 250px;
    top: 500px;
    left: 500px;
}

.image:nth-child(21) {
    width: 180px;
    height: 180px;
    top: 100px;
    left: 600px;
}

.image:nth-child(22) {
    width: 200px;
    height: 160px;
    top: 150px;
    left: 700px;
}

.image:nth-child(23) {
    width: 230px;
    height: 190px;
    top: 200px;
    left: 800px;
}

.image:nth-child(24) {
    width: 240px;
    height: 210px;
    top: 250px;
    left: 900px;
}

.image:nth-child(25) {
    width: 220px;
    height: 240px;
    top: 300px;
    left: 100px;
}

.image:nth-child(26) {
    width: 180px;
    height: 170px;
    top: 350px;
    left: 200px;
}

.image:nth-child(27) {
    width: 190px;
    height: 220px;
    top: 400px;
    left: 300px;
}

.image:nth-child(28) {
    width: 210px;
    height: 200px;
    top: 450px;
    left: 400px;
}

.image:nth-child(29) {
    width: 230px;
    height: 250px;
    top: 500px;
    left: 500px;
}

.image:nth-child(30) {
    width: 180px;
    height: 180px;
    top: 100px;
    left: 600px;
}

.image:nth-child(31) {
    width: 200px;
    height: 160px;
    top: 150px;
    left: 700px;
}

.image:nth-child(32) {
    width: 230px;
    height: 190px;
    top: 200px;
    left: 10px;
}

.image:nth-child(33) {
    width: 240px;
    height: 210px;
    top: 250px;
    left: 900px;
}
  }
  /*END OF MOBILE CSS*/





/*DESKTOP*/

@media (any-pointer: fine) {
  .MOBILE{
    display: none;
  }
    body {
      margin: 0;
    position: relative;
      font-family: "roc-grotesk-extrawide", sans-serif;
      font-weight: 700;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background-color: black;
      
      text-decoration: none;
    }
    
    
.header {
  position: -webkit-sticky;
  position: relative;
  background-color: transparent;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  top: 2px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}






nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
  transition: 0.2s ease;
}

nav a {
  position: relative;
  display: table-cell;
  color: #949494;
  text-decoration: none;
  font-family: "roc-grotesk-extrawide", sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
  background-color: black;
}

nav a:before,
nav a:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease transform;
}

nav a:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}

nav a:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

nav a:nth-child(1):before {
  background-color: yellow;
}

nav a:nth-child(1):after {
  background-color: red;
}

nav a:nth-child(2):before {
  background-color: #00e2ff;
}

nav a:nth-child(2):after {
  background-color: #89ff00;
}

nav a:nth-child(3):before {
  background-color: purple;
}

nav a:nth-child(3):after {
  background-color: palevioletred;
}


nav a:nth-child(4):before {
  background-color: orange;
}

nav a:nth-child(4):after {
  background-color: rgb(15, 160, 192);
}


nav a:nth-child(5):before {
  background-color: rgb(244, 0, 0);
}

nav a:nth-child(5):after {
  background-color: rgb(149, 0, 255);
}

#indicator {
  position: relative  ;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  transition: 0.2s ease;
}

nav a:hover {
  color: #fff;
}

nav a:hover:before,
nav a:hover:after {
  transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator {
  right: 82vw;
  background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover ~ #indicator {
  right: 70vw;
  background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator {
  right: 49vw;
  background: linear-gradient(130deg, rgb(164, 0, 164), rgb(0, 47, 255));
}
nav a:nth-child(4):hover ~ #indicator {
  right  : 33.5vw;
  background: linear-gradient(130deg, rgb(255, 0, 144), rgb(255, 0, 0));
}
nav a:nth-child(5):hover ~ #indicator {
  
  right: 1vw;
  background: linear-gradient(130deg, rgb(0, 255, 13), rgb(255, 55, 0));
}




  
  main h1{
  color: #ff0000;
  font-size: 85px;
  }

  .logo {
    width: 100%;
    font-family: "roc-grotesk-extrawide", sans-serif;
    line-height: 5vh;
    -webkit-text-stroke: 2px #ff000000;
  font-size: 2vw;
    color: red;
    transition-duration: .5s;
    position: absolute;

  }

  #gallery {
    position: absolute;
    margin-top: 7vw;
    width: 100%;
    
}

.circle {
  --circle-size: 30px;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  border: 1px solid red;
  border-radius: 100%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  z-index: 1;
}


  /* image div locations*/


  .image {
    position: relative;
    background-size: cover;
}

/* Random sizes and positions for the images */
.image:nth-child(1) {
    width: 200px;
    height: 150px;
    top: 50px;
    left: 100px;
}

.image:nth-child(2) {
    width: 150px;
    height: 200px;
    top: 100px;
    left: 200px;
}

.image:nth-child(3) {
    width: 250px;
    height: 250px;
    top: 150px;
    left: 300px;
}

.image:nth-child(4) {
    width: 180px;
    height: 220px;
    top: 200px;
    left: 50px;
}

.image:nth-child(5) {
    width: 190px;
    height: 180px;
    top: 300px;
    left: 400px;
}

.image:nth-child(6) {
    width: 220px;
    height: 160px;
    top: 150px;
    left: 500px;
}

.image:nth-child(7) {
    width: 230px;
    height: 190px;
    top: 250px;
    left: 50px;
}

.image:nth-child(8) {
    width: 170px;
    height: 240px;
    top: 350px;
    left: 150px;
}

.image:nth-child(9) {
    width: 260px;
    height: 170px;
    top: 400px;
    left: 200px;
}

.image:nth-child(10) {
    width: 180px;
    height: 200px;
    top: 450px;
    left: 300px;
}

.image:nth-child(11) {
    width: 200px;
    height: 250px;
    top: 500px;
    left: 400px;
}

.image:nth-child(12) {
    width: 150px;
    height: 180px;
    top: 100px;
    left: 600px;
}

.image:nth-child(13) {
    width: 240px;
    height: 210px;
    top: 150px;
    left: 700px;
}

.image:nth-child(14) {
    width: 220px;
    height: 160px;
    top: 200px;
    left: 800px;
}

.image:nth-child(15) {
    width: 200px;
    height: 190px;
    top: 250px;
    left: 900px;
}

.image:nth-child(16) {
    width: 180px;
    height: 240px;
    top: 300px;
    left: 100px;
}

.image:nth-child(17) {
    width: 190px;
    height: 170px;
    top: 350px;
    left: 200px;
}

.image:nth-child(18) {
    width: 210px;
    height: 220px;
    top: 400px;
    left: 300px;
}

.image:nth-child(19) {
    width: 230px;
    height: 200px;
    top: 450px;
    left: 400px;
}

.image:nth-child(20) {
    width: 250px;
    height: 250px;
    top: 500px;
    left: 500px;
}

.image:nth-child(21) {
    width: 180px;
    height: 180px;
    top: 100px;
    left: 600px;
}

.image:nth-child(22) {
    width: 200px;
    height: 160px;
    top: 150px;
    left: 700px;
}

.image:nth-child(23) {
    width: 230px;
    height: 190px;
    top: 200px;
    left: 800px;
}

.image:nth-child(24) {
    width: 240px;
    height: 210px;
    top: 250px;
    left: 900px;
}

.image:nth-child(25) {
    width: 220px;
    height: 240px;
    top: 300px;
    left: 100px;
}

.image:nth-child(26) {
    width: 180px;
    height: 170px;
    top: 350px;
    left: 200px;
}

.image:nth-child(27) {
    width: 190px;
    height: 220px;
    top: 400px;
    left: 300px;
}

.image:nth-child(28) {
    width: 210px;
    height: 200px;
    top: 450px;
    left: 400px;
}

.image:nth-child(29) {
    width: 230px;
    height: 250px;
    top: 500px;
    left: 500px;
}

.image:nth-child(30) {
    width: 180px;
    height: 180px;
    top: 100px;
    left: 600px;
}

.image:nth-child(31) {
    width: 200px;
    height: 160px;
    top: 150px;
    left: 700px;
}

.image:nth-child(32) {
    width: 230px;
    height: 190px;
    top: 200px;
    left: 10px;
}

.image:nth-child(33) {
    width: 240px;
    height: 210px;
    top: 250px;
    left: 900px;
}
} /*END OF DESKTOP CSS*/
  
/*stuff that dont change*/
  .ibm-plex mono-regular {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .ibm-plex mono-medium {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
  }
  
  .ibm-plex mono-semibold {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
  }
  
  .ibm-plex mono-bold {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  

  Roc Grotesk ExtraWide{
  font-family: "roc-grotesk-extrawide", sans-serif;
  font-weight: 400;
  font-style: normal;}
  
  Roc Grotesk ExtraWide ExtraBold{
  font-family: "roc-grotesk-extrawide", sans-serif;
  font-weight: 700;
  font-style: normal;}
